<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>

    <form>
        <h3>부서등록</h3>
        부서명 : <input id="dname"/> <br/>
        대표전화 : <input id="dcontact"/> <br/>
        <button type="button" onclick="dAdd()"> 등록 </button>
    </form>

    <div>
        <table>
            <thead>
                <tr> <td> 부서번호 </td> <td> 부서명 </td> <td> 대표전화 </td></tr>
            </thead>
            <tbody id="dBox">

            </tbody>
        </table>
    </div>
    
    <div th:replace="~{/footer.html:: footer}"></div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/hrdsystem/department.js"> </script>

</body>
</html>